<h1>Listing work_task_material_items</h1>

<table>
  <thead>
    <tr>
      <th>Work task</th>
      <th>Material item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_task_material_items.each do |work_task_material_item| %>
      <tr>
        <td><%= work_task_material_item.work_task %></td>
        <td><%= work_task_material_item.material_item %></td>
        <td><%= link_to 'Show', work_task_material_item %></td>
        <td><%= link_to 'Edit', edit_work_task_material_item_path(work_task_material_item) %></td>
        <td><%= link_to 'Destroy', work_task_material_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work task material item', new_work_task_material_item_path %>
