<%= form_for(@vendor_role) do |f| %>
  <% if @vendor_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_role.errors.count, "error") %> prohibited this vendor_role from being saved:</h2>

      <ul>
      <% @vendor_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :vendor_role_type_id %><br>
    <%= f.text_field :vendor_role_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
