<h1>Listing vendor_roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Vendor role type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_roles.each do |vendor_role| %>
      <tr>
        <td><%= vendor_role.name %></td>
        <td><%= vendor_role.vendor_role_type %></td>
        <td><%= link_to 'Show', vendor_role %></td>
        <td><%= link_to 'Edit', edit_vendor_role_path(vendor_role) %></td>
        <td><%= link_to 'Destroy', vendor_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor role', new_vendor_role_path %>
