<%= form_for(@proced) do |f| %>
  <% if @proced.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proced.errors.count, "error") %> prohibited this proced from being saved:</h2>

      <ul>
      <% @proced.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instruction %><br>
    <%= f.text_field :instruction %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br>
    <%= f.number_field :sequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
