<h1>Listing work_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Mrid</th>
      <th>Instructions</th>
      <th>Subject</th>
      <th>Crew eta</th>
      <th>Task type</th>
      <th>Old asset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_tasks.each do |work_task| %>
      <tr>
        <td><%= work_task.mRID %></td>
        <td><%= work_task.instructions %></td>
        <td><%= work_task.subject %></td>
        <td><%= work_task.crew_eta %></td>
        <td><%= work_task.task_type %></td>
        <td><%= work_task.old_asset %></td>
        <td><%= link_to 'Show', work_task %></td>
        <td><%= link_to 'Edit', edit_work_task_path(work_task) %></td>
        <td><%= link_to 'Destroy', work_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work task', new_work_task_path %>
