<h1>Listing maintorders</h1>

<table>
  <thead>
    <tr>
      <th>Mrid</th>
      <th>Status</th>
      <th>Created by</th>
      <th>Maintorder</th>
      <th>Name type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintorders.each do |maintorder| %>
      <tr>
        <td><%= maintorder.mRID %></td>
        <td><%= maintorder.status %></td>
        <td><%= maintorder.created_by %></td>
        <td><%= maintorder.maintorder %></td>
        <td><%= maintorder.name_type %></td>
        <td><%= link_to 'Show', maintorder %></td>
        <td><%= link_to 'Edit', edit_maintorder_path(maintorder) %></td>
        <td><%= link_to 'Destroy', maintorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintorder', new_maintorder_path %>
