<p id="notice"><%= notice %></p>

<p>
  <strong>Work order:</strong>
  <%= @work_order_attachment.work_order %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @work_order_attachment.attachment %>
</p>

<%= link_to 'Edit', edit_work_order_attachment_path(@work_order_attachment) %> |
<%= link_to 'Back', work_order_attachments_path %>
