<h1>Listing objectrefs</h1>

<table>
  <thead>
    <tr>
      <th>Primary name</th>
      <th>Secondary name</th>
      <th>Noun</th>
      <th>Object guid</th>
      <th>Utility</th>
      <th>Registered name</th>
      <th>System name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objectrefs.each do |objectref| %>
      <tr>
        <td><%= objectref.primary_name %></td>
        <td><%= objectref.secondary_name %></td>
        <td><%= objectref.noun %></td>
        <td><%= objectref.object_guid %></td>
        <td><%= objectref.utility %></td>
        <td><%= objectref.registered_name %></td>
        <td><%= objectref.system_name %></td>
        <td><%= link_to 'Show', objectref %></td>
        <td><%= link_to 'Edit', edit_objectref_path(objectref) %></td>
        <td><%= link_to 'Destroy', objectref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objectref', new_objectref_path %>
