<h1>Listing hazards</h1>

<table>
  <thead>
    <tr>
      <th>Hazard name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hazards.each do |hazard| %>
      <tr>
        <td><%= hazard.hazard_name %></td>
        <td><%= link_to 'Show', hazard %></td>
        <td><%= link_to 'Edit', edit_hazard_path(hazard) %></td>
        <td><%= link_to 'Destroy', hazard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hazard', new_hazard_path %>
