<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @packages_vendor_role_type.package %>
</p>

<p>
  <strong>Vendor role type:</strong>
  <%= @packages_vendor_role_type.vendor_role_type %>
</p>

<%= link_to 'Edit', edit_packages_vendor_role_type_path(@packages_vendor_role_type) %> |
<%= link_to 'Back', packages_vendor_role_types_path %>
