<h1>Listing work_order_location_object_refs</h1>

<table>
  <thead>
    <tr>
      <th>Work order</th>
      <th>Loc ref object</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_order_location_object_refs.each do |work_order_location_object_ref| %>
      <tr>
        <td><%= work_order_location_object_ref.work_order %></td>
        <td><%= work_order_location_object_ref.loc_ref_object %></td>
        <td><%= link_to 'Show', work_order_location_object_ref %></td>
        <td><%= link_to 'Edit', edit_work_order_location_object_ref_path(work_order_location_object_ref) %></td>
        <td><%= link_to 'Destroy', work_order_location_object_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work order location object ref', new_work_order_location_object_ref_path %>
