<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @eprilog.address %>
</p>

<p>
  <strong>Contenttype:</strong>
  <%= @eprilog.contentType %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @eprilog.create_date %>
</p>

<p>
  <strong>Data:</strong>
  <%= @eprilog.data %>
</p>

<p>
  <strong>Encoding:</strong>
  <%= @eprilog.encoding %>
</p>

<p>
  <strong>Faultcode:</strong>
  <%= @eprilog.faultCode %>
</p>

<p>
  <strong>Header:</strong>
  <%= @eprilog.header %>
</p>

<p>
  <strong>Httpmethod:</strong>
  <%= @eprilog.httpMethod %>
</p>

<p>
  <strong>Message:</strong>
  <%= @eprilog.message %>
</p>

<p>
  <strong>Messageid:</strong>
  <%= @eprilog.messageId %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @eprilog.operation %>
</p>

<p>
  <strong>Payload:</strong>
  <%= @eprilog.payload %>
</p>

<p>
  <strong>Responsecode:</strong>
  <%= @eprilog.responseCode %>
</p>

<p>
  <strong>Resultcode:</strong>
  <%= @eprilog.resultCode %>
</p>

<p>
  <strong>Interface id:</strong>
  <%= @eprilog.INTERFACE_ID %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @eprilog.stage %>
</p>

<%= link_to 'Edit', edit_eprilog_path(@eprilog) %> |
<%= link_to 'Back', eprilogs_path %>
