<%= form_for(@asset_proced) do |f| %>
  <% if @asset_proced.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset_proced.errors.count, "error") %> prohibited this asset_proced from being saved:</h2>

      <ul>
      <% @asset_proced.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset_id %><br>
    <%= f.text_field :asset_id %>
  </div>
  <div class="field">
    <%= f.label :proced_id %><br>
    <%= f.text_field :proced_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
