<%= form_for(@work_task_time_schedule) do |f| %>
  <% if @work_task_time_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_task_time_schedule.errors.count, "error") %> prohibited this work_task_time_schedule from being saved:</h2>

      <ul>
      <% @work_task_time_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_task_id %><br>
    <%= f.text_field :work_task_id %>
  </div>
  <div class="field">
    <%= f.label :time_schedule_id %><br>
    <%= f.text_field :time_schedule_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
