<h1>Listing resultcodes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resultcodes.each do |resultcode| %>
      <tr>
        <td><%= resultcode.name %></td>
        <td><%= link_to 'Show', resultcode %></td>
        <td><%= link_to 'Edit', edit_resultcode_path(resultcode) %></td>
        <td><%= link_to 'Destroy', resultcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resultcode', new_resultcode_path %>
