<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<p>
  <strong>Email type:</strong>
  <%= @email.email_type %>
</p>

<p>
  <strong>Priority order:</strong>
  <%= @email.priority_order %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
