<%= form_for(@work_position_point) do |f| %>
  <% if @work_position_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_position_point.errors.count, "error") %> prohibited this work_position_point from being saved:</h2>

      <ul>
      <% @work_position_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_order_id %><br>
    <%= f.text_field :work_order_id %>
  </div>
  <div class="field">
    <%= f.label :sequence_num %><br>
    <%= f.number_field :sequence_num %>
  </div>
  <div class="field">
    <%= f.label :xposition %><br>
    <%= f.number_field :xposition %>
  </div>
  <div class="field">
    <%= f.label :yposition %><br>
    <%= f.number_field :yposition %>
  </div>
  <div class="field">
    <%= f.label :zposition %><br>
    <%= f.number_field :zposition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
