<h1>Listing work_position_points</h1>

<table>
  <thead>
    <tr>
      <th>Work order</th>
      <th>Sequence num</th>
      <th>Xposition</th>
      <th>Yposition</th>
      <th>Zposition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_position_points.each do |work_position_point| %>
      <tr>
        <td><%= work_position_point.work_order %></td>
        <td><%= work_position_point.sequence_num %></td>
        <td><%= work_position_point.xposition %></td>
        <td><%= work_position_point.yposition %></td>
        <td><%= work_position_point.zposition %></td>
        <td><%= link_to 'Show', work_position_point %></td>
        <td><%= link_to 'Edit', edit_work_position_point_path(work_position_point) %></td>
        <td><%= link_to 'Destroy', work_position_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work position point', new_work_position_point_path %>
