<%= form_for(@seq) do |f| %>
  <% if @seq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seq.errors.count, "error") %> prohibited this seq from being saved:</h2>

      <ul>
      <% @seq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seq_name %><br>
    <%= f.text_field :seq_name %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.number_field :start %>
  </div>
  <div class="field">
    <%= f.label :increment %><br>
    <%= f.number_field :increment %>
  </div>
  <div class="field">
    <%= f.label :curval %><br>
    <%= f.number_field :curval %>
  </div>
  <div class="field">
    <%= f.label :flag %><br>
    <%= f.text_field :flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
