<%= form_for(@organization_name) do |f| %>
  <% if @organization_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_name.errors.count, "error") %> prohibited this organization_name from being saved:</h2>

      <ul>
      <% @organization_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.text_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name_type_id %><br>
    <%= f.text_field :name_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
